body {
    font-family: 'Lucida Sans', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
  }
  .form {
    border-radius: 10px;
    margin: 10px;
    padding: 20px;
    border: 1px solid;
  }
  .form input{
    font-size: 14pt;
    padding: 10px;
    width: 80%;
  }
  .weak {
    font-weight: 400;
    color: red;
  }
  .strong {
    font-weight: 600;
    color: lightgreen;
  }
  .very-strong {
    font-weight: 900;
    color: rgb(24, 68, 24);
  }